<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mohamed Faraj">
      <title>Irshad - King Fahd University of Petroleum and Minerals</title>
      <link rel="icon" href="images/favicon.png">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <!-- Main CSS -->
      <link href="css/main.css" rel="stylesheet">
      <script src="js/jquery_v2_2_2.min.js"></script>
   </head>
   <body>
      <div class="max-container">
         <h3 class="main-title">Irshad</h3>
         <div class="main-cntnt">
            <div class="three-col">
               <div class="cntnt-sec">
                  <h4 class="thm-title">Request an Appointment</h4>
                  <div class="inner-cntnt">
                     <form>
                        <p class="frm-cntnt"><b>Mohammed</b>, fill the details below to Request an Appointment..</p>
                        <div class="frm-feild"><input class="thm-field" type="text" name="name" placeholder="Enter your Mobile number" /></div>
                        <div class="frm-feild"><input class="thm-field" type="text" name="name" placeholder="Expert - ex: Specialist / Psycology" /></div>
                        <div class="frm-feild"><textarea class="thm-tarea" type="text" placeholder="Reasons"></textarea></div>
                        <div class="frm-feild"><button class="thm-btn" type="submit">Submit</button></div>
                     </form>
                  </div>
               </div>
            </div>
            <div class="three-col">
               <div class="cntnt-sec">
                  <h6 class="thm-title">Your Appointments <span class="title-side"><a href="stud-appon-list.html">View All</a></span></h6>
                  <div class="inner-cntnt">
                     <div class="apon-sec">
                        <a href="stud-appon-detail.html">
                           <h6 class="apon-title">Appointment Title</h6>
                           <div class="apon-info">Case Id: 42553 | <div class="status">Status: <span class="in_progress">In Progress</span></div> | Date: 24-05-2016</div>
                           <p class="apon-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl metus, imperdiet volutpat diam at, volutpat fringilla justo. Vestibulum et orci sem...</p>
                        </a>
                     </div>
                     <div class="apon-sec">
                        <a href="stud-appon-detail.html">
                           <h6 class="apon-title">Appointment Title</h6>
                           <div class="apon-info">Case Id: 42553 | <div class="status">Status: <span class="closed">Closed</span></div> | Date: 24-05-2016</div>
                           <p class="apon-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl metus, imperdiet volutpat diam at, volutpat fringilla justo. Vestibulum et orci sem...</p>
                        </a>
                     </div>
                     <div class="apon-sec">
                        <a href="stud-appon-detail.html">
                           <h6 class="apon-title">Appointment Title</h6>
                           <div class="apon-info">Case Id: 42553 | <div class="status">Status: <span class="closed">Closed</span></div> | Date: 24-05-2016</div>
                           <p class="apon-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl metus, imperdiet volutpat diam at, volutpat fringilla justo. Vestibulum et orci sem...</p>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="three-col">
               <div class="cntnt-sec">
                  <h6 class="thm-title">Awareness Lectures</h6>
                  <div class="inner-cntnt">
                     <div class="lect-banner"><img src="images/lectur-aware-ban-img.jpg" /></div>
                     <div class="regist-frm">
                        <form>
                           <label>Register Now</label>
                           <div class="frm-feild"><input class="thm-field" type="text" name="name" placeholder="Enter your Mobile Number" /><button class="arrow-but"><img src="images/arrow-but-icon.png"></button></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>