<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Mohamed Faraj">
      <title>Appointments List - Irshad</title>
      <link rel="icon" href="images/favicon.png">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
      <!-- Main CSS -->
      <link href="css/main.css" rel="stylesheet">
   </head>
   <body>
      <div class="max-container">
         <h3 class="main-title">Irshad</h3>
         <div class="main-cntnt">
            <div class="ful-width">
               <div class="cntnt-sec">
                  <h4 class="thm-title">Your Appointments</h4>
                  <div class="inner-cntnt">
                     <div class="tabel-list appon-list">
                        <div class="thead">
                           <div class="tdata case-id">Case Id</div>
                           <div class="tdata title">Appointment Title</div>
                           <div class="tdata desc">Description</div>
                           <div class="tdata date">Date</div>
                           <div class="tdata status">Status</div>
                        </div>
                        <a href="stud-appon-detail.html" class="trow">
                           <div class="tdata case-id">254647</div>
                           <div class="tdata title">Appointment Title</div>
                           <div class="tdata desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam ipsum, euismod in dolor a, commodo varius nisi. Nam at finibus augue. Fusce suscipit enim sed odio tincidunt posuere. Nunc pellentesque mauris nibh, et varius elit scelerisque vel...</div>
                           <div class="tdata date">24-05-2016</div>
                           <div class="tdata status"><span class="in_progress">In Progress</span></div>
                        </a>
                        <a href="stud-appon-detail.html" class="trow">
                           <div class="tdata case-id">254647</div>
                           <div class="tdata title">Appointment Title</div>
                           <div class="tdata desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam ipsum, euismod in dolor a, commodo varius nisi. Nam at finibus augue. Fusce suscipit enim sed odio tincidunt posuere. Nunc pellentesque mauris nibh, et varius elit scelerisque vel...</div>
                           <div class="tdata date">24-05-2016</div>
                           <div class="tdata status"><span class="in_progress">In Progress</span></div>
                        </a>
                        <a href="stud-appon-detail.html" class="trow">
                           <div class="tdata case-id">254647</div>
                           <div class="tdata title">Appointment Title</div>
                           <div class="tdata desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam ipsum, euismod in dolor a, commodo varius nisi. Nam at finibus augue. Fusce suscipit enim sed odio tincidunt posuere. Nunc pellentesque mauris nibh, et varius elit scelerisque vel...</div>
                           <div class="tdata date">24-05-2016</div>
                           <div class="tdata status"><span class="in_progress">In Progress</span></div>
                        </a>
                        <a href="stud-appon-detail.html" class="trow">
                           <div class="tdata case-id">254647</div>
                           <div class="tdata title">Appointment Title</div>
                           <div class="tdata desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quam ipsum, euismod in dolor a, commodo varius nisi. Nam at finibus augue. Fusce suscipit enim sed odio tincidunt posuere. Nunc pellentesque mauris nibh, et varius elit scelerisque vel...</div>
                           <div class="tdata date">24-05-2016</div>
                           <div class="tdata status"><span class="closed">Closed</span></div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </body>
</html>